<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="author" content="{{ config.author }}">
    <meta name="description" content="{{ config.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8"> 

    <link rel="icon" href="{{ get_url(path="images/favicon.png") }}" type="image/x-icon"/>
    <link href="{{ get_url(path="style/hikingShoes.css") | safe }}" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    <div id="container">
      <div id="header">
        <ul> 
          <li><a href="{{ config.base_url | safe}}">Home</a></li>
          <li><a href="{{ get_url(path='@/posts/_index.md') | safe }}">Archive</a></li>
          <li><a href="{{ get_url(path='@/about.md') | safe }}">About</a></li>
        </ul>
      </div>
      <div id="content">
        <div class="container">
            {% block content %}

            <h1 class="title">Welcome to my blog!</h1>
            
            <p>I hope you enjoy your time here!</p>

            <p>This website is, as you can see, under construction. Please be patient with me.</p>
            
            {% set section = get_section(path="posts/_index.md") %}
            {% if section.pages | length > 0 %}
            <div id="recentpostlistdiv">
                <h2>Recent Posts:</h2>
                <ul>
                    {% for page in section.pages %}
                    {% if loop.index == config.extra.recent_posts_cutoff + 1 %}{% break %}{% endif %}
                    <li><a href="{{ page.permalink | safe }}">{{page.date}} » {{page.title}}</a></li>
                    {% endfor %}
                    {% if section.pages | length > config.extra.recent_posts_cutoff %}
                    <li class="moreposts"><a href={{ get_url(path='@/posts/_index.md') | safe }}>» more posts</a></li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
            
            {% endblock content %}
        </div>
      </div>
      <div id="footer">
        <hr><p>{{ config.title }} is written by <a target="_blank" href="{{ config.extra.author_link | safe }}">{{ config.author }}</a>, 
          built with <a target="_blank" href="https://www.getzola.org/">Zola</a> 
          and <a target="_blank" href='https://zonelets.net/'>Zonelets</a>.<br/>
        contact: maxine at mxhzl.com</p>
      </div>
    </div>
  </body>
</html>